*{
    margin:0;
    padding:0;
    list-style:none;
    text-decoration:none;
}
@font-face{
    font-family:'dr';
    src: url(font/Roboto-Regular.ttf);
    font-style: normal;
}
body{
    width:100%;
    height:100vh;
    background-color: #ffff;
    overflow: hidden;
}
body .img{
    position:absolute;
    top:10%;
    left:22%;
    width:75%;
    height:100%;
    background: url(img/undraw_explore_re_8l4v.svg)no-repeat;
}
.navig-cont{
    display: flex;
    gap: 6px;
    flex-direction:row-reverse;
    height: 100vh;
    width:100%;

}
.header{
    position:fixed;
    z-index: 11111;
    width:80%;
    height:68px;
    background-color:#fff;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    -webkit-box-shadow: 1px 6px 38px -6px rgba(0,0,0,0.12); 
box-shadow: 1px 6px 38px -6px rgba(0,0,0,0.12);
    display: flex;
    align-items: center;
    justify-content: space-around;
    

}
.header .cher{
    display: flex;
    width:30%;
    margin-left: 30px;
   
}
.cher .menu{
    position:absolute;
    left:40px;
}
.menu i{
    color:#2c3954;
    
}
.cher input{
width: 100%;
border:none;
border-bottom: 1.4px solid 	#91accb;
outline: none;
padding: 0;
height: 30px;
font-size: 16px;
text-align: center;
font-weight: 500;
background: none;
border-radius: 0;
color: #2c3954;
transition: .4s ease;

}
.cher input:focus{
    border-color:#88d498;
}

.cher i{
    position:absolute;
    font-size:20px;
}
    
::placeholder{
    color: #9098A9;
}
.set {
  position:relative;
    border-right:1px solid #f2e6e6;
    height:100%;
    display:flex; 
    align-items: center;
    padding-right: 14px;
    margin-right:-26%;
}
.set .message{
    position: relative;
    margin-right: 20px;
    color:#2c3954;
    display: flex;
    align-items: center;
   
}
.message .bx-bell{
    font-size:25px;
}

.point{
    
    position:absolute;
    margin-top:-8px;
    right:13px;
    outline:2px solid #fff;
    font-size: 12px;
    font-family: "dr";
    text-align: center;
    color:#fff;
    width: 20px;
    height:16px;
    border-radius:50%;
    background-color:red;
    display:none;
}

.set .setteng{
    display: flex;
  
}

.setteng i{
    font-size:23px;
    color:#2c3954;
    margin-left:30px;
    z-index: 11111;
}
.log-out{
    position:relative;
    display:flex;
    align-items:center;
    margin-right:-12%;
    height:100%;
}
.log-out a{
    display:flex;
    align-items:center;
    font-size:18px;
    color:#2c3954; 
    text-transform: capitalize;
    font-family:'dr';
}
.log-out a i{
    font-size:25px;
}



nav{
    position: fixed;
    left:0;
    background-color:#223254;
    width:18%;
    height:100vh;
    overflow: hidden;
    transition: 0.2s;
   z-index: 111111;
    
}
nav ul{
   
    margin-top: 30%;
   
}
nav ul li{
    text-align: center;
    position: relative;
    margin-top:30px;
    border-bottom-left-radius: 20px;
    padding:16px;
    border-top-left-radius: 20px;
    display:flex;
    align-items: center;
}
nav ul li b:nth-child(1){
    position:absolute;
    top:-20px;
    height:20px;
    width:100%;
    background-color: #ffff;
    display: none;
}
nav ul li b:nth-child(1)::before{
    content:'';
    position:absolute;
    top:0;
    left:0;
    width: 93%;
    height:100%;
    border-bottom-right-radius: 20px;
    background-color:#223254;
    border: none;
}
nav ul li b:nth-child(2){
    position:absolute;
    bottom:-20px;
    height:20px;
    width:100%;
    background-color: #ffff;
    display: none;
}
nav ul li b:nth-child(2)::before{
    content:'';
    position:absolute;
    top:0;
    left:0;
    width: 93%;
    height:100%;
    border-top-right-radius: 20px;
    background-color:#223254;
  
}
ul li:hover{
    background-color: #ffff;
    
    border-bottom: none;
}
ul li:hover a,
 ul li:hover i{
    color:#223254;
}
ul li:hover b:nth-child(1),
ul li:hover b:nth-child(2){
   display:block;
   
}
li i{
    
    margin-right: 25px;
        font-size:27px; 
        color: #dff5ce;
    }
li a{
    font-size:19px;
    color: #dff5ce;
    font-weight: 300;
    text-transform:capitalize;
    font-family: 'dr';
}
.home{
    height:100vh;
    width:100%;
    justify-content: space-between;
    background: #fff;
    overflow-y: scroll;
    overflow-x: hidden;
}
.table{
    height:74vh;
    width:100%;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    overflow-x: hidden;
}

.home .chart-cont{
    position:relative;
    width:100%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.home .chart{
    position:relative;
    top:30px;
    left:20%;
    width:48%;
    height:50%;
}
.home .form{
    position: relative;
    top:40px;
    width: 390px;
    height:52%;
    padding: 10px;
    background: #fff;
    border-radius: 20px;
    -webkit-box-shadow: -4px 3px 48px 13px rgba(0,0,0,0.07); 
    box-shadow: -4px 3px 48px 13px rgba(0,0,0,0.07);

}
.form form{
    position: relative;
    width:100%;
    height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
}
.form form .text,
.form form .date{
 width:70%;
 padding: 13px;
 border-radius: 10px;
 outline: none;
 border: 1px solid #9098A9;
 margin-top: 40px;
}
.form i{
    border: 2px solid #88d498;
    border-radius: 50%;
    padding: 10px;
    font-size:40px;
    color:#88d498;
}

form .text::placeholder ,
form .date::placeholder{
    text-align: center;
    color:#adb1bb;
}

form .sub{
    margin-top: 30px;
    border-radius:12px;
    padding:13px;
    background-color: #82d393;
    color:#FFFF;
    font-size: 18px;
    font-family: 'dr';
    text-transform:capitalize;
    width:75%;
    border:none;
    transition:0.4s;
}
form .sub:hover{
    transform:scale(0.9);
    background-color: #82d393;
}

::-webkit-scrollbar-thumb{
    background: #3d4e72;
    height: 10px;
    border-radius: 20px;
   
}
::-webkit-scrollbar{
    background:#ffff;
    width: 8px;
}

.table h3{
    margin-left: 20%;
    margin-top: -10px;
    margin-bottom: 60px;
    font-family: 'dr';
    font-size: 20px;
    font-weight: lighter;
    color:#fff;
    text-transform: capitalize;
    background-color:#ff9966;
    border-radius: 10px;
    padding: 16px;
    -webkit-box-shadow: 7px 11px 40px 1px rgba(0,0,0,0.11); 
    box-shadow: 7px 11px 40px 1px rgba(0,0,0,0.11);
    cursor: pointer;
}

.table-box{
width:830px;
height:280px;
margin-left: 22%;
overflow-y: scroll;
overflow-x: hidden;
-webkit-box-shadow: -4px 3px 48px 13px rgba(0,0,0,0.07); 
box-shadow: -4px 3px 48px 13px rgba(0,0,0,0.07);
}
.table-box tr:nth-child(even) {
    background-color: #fff0e7;
}
.table-box::-webkit-scrollbar-thumb{
    background: #fff0e7;

}

.table-box tr:nth-child(even) {
    background-color: #fff0e7;
}
table{
    width:100%;
    border-collapse:collapse;
    background-color: #fff;
    text-align: center;
    padding: 10px;
}
#head{
    position: sticky;
    top:0;
    background-color: #ff9966;
    color:#FFF;
    -webkit-box-shadow: 1px 6px 38px -6px rgba(0,0,0,0.12); 
    box-shadow: 1px 6px 38px -6px rgba(0,0,0,0.12);

}

 th{
    padding: 17px 6px;
    font-size:18px;
    font-family: 'dr';
    font-weight: lighter;
    text-transform: uppercase; 
 }
td{
    padding: 16px 6px;
    font-size:18px;
    font-weight: lighter;
    font-family: 'dr';
    text-transform: uppercase;
    
}


td{
    color:#223254;
}




.div{
    height: 100vh;
    width:100%;
    margin-top: 80px;
    background: #fff; 
    overflow-x: hidden;
    overflow-y: scroll; 
}
.tab{
    height: 100vh;
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    background: #fff; 
    overflow-y: hidden;
    overflow-x: hidden;  
}
.tab-add{
    position: relative;
    width:100%;
    height:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}
.tab-cont{
    height: 80%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin-left:10%;
    margin-top:20%;
}
.tab-disp{
    display: flex;
    align-items: center;

}
.table-etudient{
    width:750px;
    height:300px;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-box-shadow: 7px 7px 18px 2px rgba(0,0,0,0.18); 
box-shadow: 7px 7px 18px 2px rgba(0,0,0,0.18);
    }
    .table-etudient::-webkit-scrollbar-thumb{
        background: #d0def2;
        border-radius: 0;
       
    }
    .table-etudient::-webkit-scrollbar{
        background:#ffff;
        width: 8px;
    }
    .table-etudient th{
        padding: 17px 6px;
        font-size:18px;
        font-weight: lighter;
        font-family: 'dr';
        text-transform: uppercase; 
        color: #000000;
    }
    .table-etudient tr:nth-child(even){
        background: #f3f8fe;
    }
    .table-nopay{
        width:230px;
    height:300px;
    margin-left: 18px;
    margin-right: -10%;
    border-radius: 20px;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-box-shadow: -4px 3px 48px 13px rgba(0,0,0,0.07); 
    box-shadow: -4px 3px 48px 13px rgba(0,0,0,0.07); 
    animation: none;
    }
 
    .table-nopay::-webkit-scrollbar-thumb{
        background: transparent;
 
    }
    
    .table-nopay tr:nth-child(even) {
        background-color: #fff0e7;
    }
  

@keyframes pumping{

  0%
  {
    transform: scale(1);
  }
  50%
  {
    transform: scale( 1.05 );
  }
  100%
  {
    transform: scale(1);
  }
}

    .table-etudient #head{
        background-color: #d0def2;
    }
    .table-nopay table tr{
        transition:0.3s;
    }

    td a i{
        font-size:30px; 
        transition:0.4s;  
    }
  
   td a .bx-trash{
         color:rgb(243, 101, 101);
        background:transparent;
        padding:4px;
        border-radius: 50%; 
    }

   
    td a .bx-edit-alt{
       background: transparent;
        color:#223254;
        padding:4px;
        border-radius: 50%;
    }
   
    td .edit{
        margin-left:20px;
    }
    .cont{
        position:relative;
        z-index: 11;
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        left:19%;
        top:17%;
    }
    .cont .box1{
        width: 290px;
        height: 198px;
        background: #FFF;
        -webkit-box-shadow: 1px 6px 38px -6px rgba(0,0,0,0.12); 
        box-shadow: 1px 6px 38px -6px rgba(0,0,0,0.12);
        border-radius: 40px;
        transition:0.3s ;
        
    }
    .cont .box2{
        width: 290px;
        height: 198px;
        background: #FFF;
        -webkit-box-shadow: 1px 6px 38px -6px rgba(0,0,0,0.12); 
        box-shadow: 1px 6px 38px -6px rgba(0,0,0,0.12);
        border-radius: 40px;
        transition:0.3s ;
        
    }
    .box1, .box2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:#3d4e72;
    }

    .box1 i, .box2 i{
        font-size:30px;
        border: 2px solid #3d4e72;
        border-radius:50%;
        color:#3d4e72;
        margin-bottom:30px;
        padding:10px;
    }
    
    .box1 h2, .box2 h2{
        font-size: 20px;
        text-transform:uppercase;
        letter-spacing: 2px;
        font-family: 'dr';
        font-weight:lighter;
    }
    
    .box1 h1, .box2 h1{
        margin-top: 20px;
        text-transform:uppercase;
        letter-spacing: 2px;
         font-family: 'dr';
        font-weight:lighter;
    }
    
    .box1:hover, .box2:hover{
        transform: scale(1.08);
    }
    .a{
        position:absolute;
        background-color: #82d393;
        color:#fcfdfe;
        padding:12px;
        border-radius:10px;
        font-size:20px;
        font-weight:lighter;
        font-family:'dr';
        top:14px;
        left:80px;
        cursor: pointer;
        text-transform: capitalize;
    }
    .add{
        display: flex;
        align-items: center;
        justify-content:center;
    }
    .add i{
        font-size:27px;margin-right:10px;
    }

    /*form for new std*/
    .bl{
        position: fixed;
        top:-100%;
        left:0;
        width:100%;
        height:100vh;
        background: rgba(255, 255, 255, 0.17);
        backdrop-filter: blur(5.6px);
        -webkit-backdrop-filter: blur(5.6px);
        z-index: 11111;
        transition: 0.1s;
        font-family: 'dr';
    }
    .form-cont{
        z-index:111111111111;
        position:absolute;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);
        width:400px;
        height:560px;
        background: #fff;
        border-radius: 16px;
        box-shadow: 8px 18px 50px rgba(0, 0, 0, 0.2);
        border: 1px solid rgba(236, 238, 242, 0.37);
        overflow: hidden;
       
    }
   
    .form-cont i{
        position:absolute;
        right: 15px;
        top:10px;
        font-size: 30px;
        color:rgb(240, 119, 119);
    }
    .icon{
        position:relative;
        right:-68%;
        top:20px;
        display: inline-block;
        margin-bottom:38%;
       
    }
    .icon i{
        color:#82d393;
        font-size:60px;
        border: 1px solid #82d393;
        border-radius:50%;
        padding: 10px;
    }
    .form-cont form{
        padding:0 40px;
        box-sizing: border-box;
    }
    form .txt_field{
        position: relative;
        border-bottom: 1.5px solid  #516091;
        margin:34px 0;
       
    
    }
    .txt_field input{
       
    width:100%;
    padding:0 5px;
    height:40px;
    font-size: 15px;
    border: none;
    background: none;
    outline: none;
    }
    .txt_field label{
        
        position: absolute;
        top:50%;
        left:5px;
        color: #91accb;
        transform:translateY(-50%);
        font-size: 17px;
        pointer-events:none;
        transition: .1s ;
     
    }
    .txt_field span::before{
    content:'';
    position:absolute;
    top:40px;
    left:0;
    width: 0;
    height:2px;
    background:#88d498;
    
    }
    
    .txt_field .date::placeholder{
        color: #91accb;
        font-size: 17px;
        text-align: left;
        font-weight: lighter;
        font-family: 'dr';
        
    }
    
    .txt_field input:focus ~ label,
    .txt_field input:valid ~ label{
        top:-5px;
        color: #3d4e72;
    
    }
    .txt_field input:focus,
    .txt_field input:valid,
    .date {
        color: #3d4e72;
    }
    .txt_field input:focus ~ span::before,
    .txt_field input:valid ~ span::before{
       width:100%;
    
    }
    
    
  .save{
        width: 100%;
        height:50px;
        border: none;
        border-radius: 25px;
        background: #88d498;
        border-bottom: 25px;
        font-size: 19px;
        text-transform: uppercase;
        color:#FFFF;
        cursor: pointer;
        outline: none;
        transition:.1s;
        margin-top: 20px;
    }
    .save:hover{
        transform: scale(0.9);
    }

 
   